<!DOCTYPE html>
  <html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
      </head>
      <body>
        <h1>Welcome to apicurious, <%= @user.name %></h1>
        <p>You have successfully signed up for apicurious. Your username is <%= @user.login %>.</p>
        <p>Thanks!</p>
      </body>
    </html>
