---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/orgs?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4883'
      X-Ratelimit-Reset:
      - '1494567604'
      Etag:
      - W/"0e1ca64986ceb62077a044182a7915f8"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"errrrrrrrrrin","id":28642028,"url":"https://api.github.com/orgs/errrrrrrrrrin","repos_url":"https://api.github.com/orgs/errrrrrrrrrin/repos","events_url":"https://api.github.com/orgs/errrrrrrrrrin/events","hooks_url":"https://api.github.com/orgs/errrrrrrrrrin/hooks","issues_url":"https://api.github.com/orgs/errrrrrrrrrin/issues","members_url":"https://api.github.com/orgs/errrrrrrrrrin/members{/member}","public_members_url":"https://api.github.com/orgs/errrrrrrrrrin/public_members{/member}","avatar_url":"https://avatars1.githubusercontent.com/u/28642028?v=3","description":null},{"login":"maybewecanhavegoats","id":28642147,"url":"https://api.github.com/orgs/maybewecanhavegoats","repos_url":"https://api.github.com/orgs/maybewecanhavegoats/repos","events_url":"https://api.github.com/orgs/maybewecanhavegoats/events","hooks_url":"https://api.github.com/orgs/maybewecanhavegoats/hooks","issues_url":"https://api.github.com/orgs/maybewecanhavegoats/issues","members_url":"https://api.github.com/orgs/maybewecanhavegoats/members{/member}","public_members_url":"https://api.github.com/orgs/maybewecanhavegoats/public_members{/member}","avatar_url":"https://avatars1.githubusercontent.com/u/28642147?v=3","description":null}]'
  recorded_at: Fri, 12 May 2017 05:33:57 GMT
recorded_with: VCR 3.0.3
