---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1494520820'
      Etag:
      - W/"bf864926f96ce03e9d21e0e67a5b8b6a"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80776795,"name":"knight_rider","full_name":"BethKnight1234/knight_rider","owner":{"login":"BethKnight1234","id":10760057,"avatar_url":"https://avatars0.githubusercontent.com/u/10760057?v=3","gravatar_id":"","url":"https://api.github.com/users/BethKnight1234","html_url":"https://github.com/BethKnight1234","followers_url":"https://api.github.com/users/BethKnight1234/followers","following_url":"https://api.github.com/users/BethKnight1234/following{/other_user}","gists_url":"https://api.github.com/users/BethKnight1234/gists{/gist_id}","starred_url":"https://api.github.com/users/BethKnight1234/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/BethKnight1234/subscriptions","organizations_url":"https://api.github.com/users/BethKnight1234/orgs","repos_url":"https://api.github.com/users/BethKnight1234/repos","events_url":"https://api.github.com/users/BethKnight1234/events{/privacy}","received_events_url":"https://api.github.com/users/BethKnight1234/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/BethKnight1234/knight_rider","description":null,"fork":false,"url":"https://api.github.com/repos/BethKnight1234/knight_rider","forks_url":"https://api.github.com/repos/BethKnight1234/knight_rider/forks","keys_url":"https://api.github.com/repos/BethKnight1234/knight_rider/keys{/key_id}","collaborators_url":"https://api.github.com/repos/BethKnight1234/knight_rider/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/BethKnight1234/knight_rider/teams","hooks_url":"https://api.github.com/repos/BethKnight1234/knight_rider/hooks","issue_events_url":"https://api.github.com/repos/BethKnight1234/knight_rider/issues/events{/number}","events_url":"https://api.github.com/repos/BethKnight1234/knight_rider/events","assignees_url":"https://api.github.com/repos/BethKnight1234/knight_rider/assignees{/user}","branches_url":"https://api.github.com/repos/BethKnight1234/knight_rider/branches{/branch}","tags_url":"https://api.github.com/repos/BethKnight1234/knight_rider/tags","blobs_url":"https://api.github.com/repos/BethKnight1234/knight_rider/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/BethKnight1234/knight_rider/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/BethKnight1234/knight_rider/git/refs{/sha}","trees_url":"https://api.github.com/repos/BethKnight1234/knight_rider/git/trees{/sha}","statuses_url":"https://api.github.com/repos/BethKnight1234/knight_rider/statuses/{sha}","languages_url":"https://api.github.com/repos/BethKnight1234/knight_rider/languages","stargazers_url":"https://api.github.com/repos/BethKnight1234/knight_rider/stargazers","contributors_url":"https://api.github.com/repos/BethKnight1234/knight_rider/contributors","subscribers_url":"https://api.github.com/repos/BethKnight1234/knight_rider/subscribers","subscription_url":"https://api.github.com/repos/BethKnight1234/knight_rider/subscription","commits_url":"https://api.github.com/repos/BethKnight1234/knight_rider/commits{/sha}","git_commits_url":"https://api.github.com/repos/BethKnight1234/knight_rider/git/commits{/sha}","comments_url":"https://api.github.com/repos/BethKnight1234/knight_rider/comments{/number}","issue_comment_url":"https://api.github.com/repos/BethKnight1234/knight_rider/issues/comments{/number}","contents_url":"https://api.github.com/repos/BethKnight1234/knight_rider/contents/{+path}","compare_url":"https://api.github.com/repos/BethKnight1234/knight_rider/compare/{base}...{head}","merges_url":"https://api.github.com/repos/BethKnight1234/knight_rider/merges","archive_url":"https://api.github.com/repos/BethKnight1234/knight_rider/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/BethKnight1234/knight_rider/downloads","issues_url":"https://api.github.com/repos/BethKnight1234/knight_rider/issues{/number}","pulls_url":"https://api.github.com/repos/BethKnight1234/knight_rider/pulls{/number}","milestones_url":"https://api.github.com/repos/BethKnight1234/knight_rider/milestones{/number}","notifications_url":"https://api.github.com/repos/BethKnight1234/knight_rider/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/BethKnight1234/knight_rider/labels{/name}","releases_url":"https://api.github.com/repos/BethKnight1234/knight_rider/releases{/id}","deployments_url":"https://api.github.com/repos/BethKnight1234/knight_rider/deployments","created_at":"2017-02-02T22:56:39Z","updated_at":"2017-02-07T16:58:20Z","pushed_at":"2017-02-09T15:58:20Z","git_url":"git://github.com/BethKnight1234/knight_rider.git","ssh_url":"git@github.com:BethKnight1234/knight_rider.git","clone_url":"https://github.com/BethKnight1234/knight_rider.git","svn_url":"https://github.com/BethKnight1234/knight_rider","homepage":null,"size":45,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}}]'
  recorded_at: Thu, 11 May 2017 16:24:15 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1494520820'
      Etag:
      - W/"d17af12ce88123b930ca3926d5f7ac55"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=<GITHUB_USER_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":80776795,"name":"knight_rider","full_name":"BethKnight1234/knight_rider","owner":{"login":"BethKnight1234","id":10760057,"avatar_url":"https://avatars0.githubusercontent.com/u/10760057?v=3","gravatar_id":"","url":"https://api.github.com/us[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1494524427'
      Etag:
      - W/"5e9f6c75bbd235f[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1494524427'
      Etag:
      - W/"2d37a9401a5875b[...]
