
    <div class="row">
      <div class="col-md-3">
        <p align="center"><%= image_tag "https://avatars2.githubusercontent.com/u/#{current_user.uid}?v=3&amp;s=150" %></p>
        <h2>Welcome, <%= current_user.name %></h2>
        <p align="center">Username: <%= current_user.username %></p>
		  </div>

		  <div class="col-md-4">
		  	<h2 align="left">Lorem dictum tincidunt</h2>
		 		<p align>Ut tristique adipiscing mauris, sit amet suscipit metus porta quis. Donec dictum tincidunt erat, eu blandit ligula. Nam sit amet dolor sapien. Quisque velit erat, congue sed suscipit vel, feugiat sit amet enim. Suspendisse interdum enim at mi tempor commodo. Sed tincidunt sed tortor eu scelerisque. Donec luctus malesuada vulputate. Nunc vel auctor metus, vel adipiscing odio. Aliquam aliquet rhoncus libero, at varius nisi pulvinar nec. Aliquam erat volutpat. Donec ut neque mi. Praesent enim nisl, bibendum vitae ante et, placerat pharetra magna. Donec facilisis nisl turpis, eget facilisis turpis semper non. Maecenas luctus ligula tincidunt iasdsd vitae ante et,</p>
      </div>


		  <div class="col-md-4">
		  	<h2>Donec dictum loren</h2>
        <p>Pellentesque luctus quam quis consequat vulputate. Sed sit amet diam ipsum. Praesent in pellentesque diam, sit amet dignissim erat. Aliquam erat volutpat. Aenean laoreet metus leo, laoreet feugiat enim suscipit quis. Praesent mauris mauris, ornare vitae tincidunt sed, hendrerit eget augue. Nam nec vestibulum nisi, eu dignissim nulla.</p>
			</div>
    </div>
